<?xml version="1.0"?>
<launch>

  <!-- Excavator-->
    <group ns="excavator">
      <!-- <param name="tf_prefix" value="excavator_1_tf" /> -->
      <include file="$(find state_machine)/launch/exc_hau_state_machine_rd2.launch"/>
        <!-- <arg name="robot_name"  value="excavator" /> -->

    </group>

    <!-- Hauler-->
    <group ns="hauler">
      <!-- <param name="tf_prefix" value="hauler_1_tf" /> -->
      <include file="$(find state_machine)/launch/exc_hau_state_machine_rd2.launch"/>
        <!-- <arg name="robot_name"  value=hauler" /> -->
      
    </group>


</launch>
