<?xml version="1.0"?>
<launch>
<group ns = "small_scout_1">
  <node name="state_machine" pkg="state_machine" type="state_machine_rd1_node" output="screen" launch-prefix="bash -c 'sleep 20.0; $0 $@' ">
    <rosparam
      command="load"
      file="$(find state_machine)/config/small_scout_1.yaml"
      subst_value="true"
    />
  </node>
</group>
</launch>
