<launch>


  <!-- scout_motion_control launch file -->
  <include file="$(find driving_control)/launch/scout_driving_control.launch"/>

  <!-- dead_reckoning launch file -->
  <include file="$(find rover_deadreckoning)/launch/scout_dead_reckoning.launch"/>

  <!-- vo_ launch file -->
  <include file="$(find wvu_vo_ros)/launch/vo_pipelineScout.launch"/>

  <!-- sensor_fusion launch file -->
  <include file="$(find sensor_fusion)/launch/scout_sensor_fusion.launch"/>

  <!-- scout_driving_tools launch file -->
  <include file="$(find waypoint_nav)/launch/scout_waypoint_nav.launch"/>

  <!-- scout_waypoint_gen launch file -->
  <include file="$(find waypoint_gen)/launch/scout_waypoint_gen.launch"/>

  <!-- scout_waypoint_gen launch file -->
  <include file="$(find volatile_handler)/launch/volatile_handler.launch"/>

  <!-- inference for base station -->
  <!-- <include file="$(find src2_object_detection)/launch/inference.launch"/> -->

  <!-- homing service -->
  <!-- <include file="$(find range_to_base)/launch/scout_range_2_base_service_R1.launch"/> -->

  <!-- approach_base_station_service -->
  <!-- <include file="$(find src2_object_detection)/launch/approach_base_station_service.launch"/> -->

  <include file="$(find src2_object_detection)/launch/object_detection_round1.launch"/>


  <!-- scout_move_base_things launch file -->
  <include file="$(find src2_move_base)/launch/map_server.launch"/>

  <include file="$(find src2_move_base)/launch/move_base.launch"/>

  <!-- laser tools  -->
  <include file="$(find laser_tools_src2)/launch/scout_laser_tools_R1.launch"/>

  <!-- homing service -->
  <include file="$(find range_to_base)/launch/scout_homing_service_R1.launch"/>

  <include file="$(find sensor_fusion)/launch/scout_homing.launch"/>

  <!-- scout_motion_control launch file -->
  <include file="$(find state_machine)/launch/scout_state_machine_rd1.launch"/>









  <!-- Sensor Fusion node -->
  <!-- rosrun  src2_object_detection inference.py
  rosrun range_to_base rangeToBaseService.py
  rosrun src2_object_detection approach_base_station_service.py -->
</launch>
