<launch>


  <!-- scout_motion_control launch file -->
  <include file="$(find driving_control)/launch/scout_driving_control.launch"/>

  <!-- dead_reckoning launch file -->
  <include file="$(find rover_deadreckoning)/launch/scout_dead_reckoning.launch"/>

  <!-- vo_ launch file -->
  <include file="$(find wvu_vo_ros)/launch/vo_pipelineScout.launch"/>

  <!-- sensor_fusion launch file -->
  <include file="$(find sensor_fusion)/launch/scout_sensor_fusion.launch"/>

  <!-- scout_driving_tools launch file -->
  <include file="$(find waypoint_nav)/launch/scout_waypoint_nav.launch"/>

  <!-- scout_waypoint_gen launch file -->
  <include file="$(find waypoint_gen)/launch/scout_waypoint_gen.launch"/>

  <!-- scout_volatile handler launch file -->
  <include file="$(find volatile_handler)/launch/volatile_handler.launch"/>

  <include file="$(find src2_object_detection)/launch/object_detection_round1.launch"/>

  <!-- scout_move_base launch files -->
  <include file="$(find src2_move_base)/launch/map_server.launch"/>
  <include file="$(find src2_move_base)/launch/move_base.launch"/>

  <!-- laser tools  -->
  <include file="$(find laser_tools_src2)/launch/scout_laser_tools_R1.launch"/>

  <!-- homing service -->
  <include file="$(find range_to_base)/launch/scout_homing_service_R1.launch"/>
  <include file="$(find sensor_fusion)/launch/scout_homing.launch"/>

  <!-- waypoint checker -->
  <include file="$(find waypoint_checker)/launch/scout_waypoint_checker.launch"/>

  <!-- state machine for Scout -->
  <include file="$(find state_machine)/launch/scout_state_machine_rd1.launch"/>

</launch>
