<launch>


  <!-- DELETE THIS BEFORE SUBMISSION excavator and hauler_driving_tools launch files -->
  <include file="$(find gazebo_truth_odom)/launch/excavator_gazebo_truth_odom.launch"/>
  <include file="$(find gazebo_truth_odom)/launch/hauler_gazebo_truth_odom.launch"/>

  <!-- excavator and hauler_motion_control launch files -->
  <include file="$(find driving_control)/launch/excavator_driving_control.launch"/>
  <include file="$(find driving_control)/launch/hauler_driving_control.launch"/>

  <!-- excavator and hauler_state machine launch file -->
  <!-- <include file="$(find state_machine)/launch/excavator_hauler_state_machine_rd2.launch"/> -->

  <!-- excavator and hauler_driving_tools launch file -->
  <include file="$(find pose_update)/launch/excavator_pose_update.launch"/>
  <include file="$(find pose_update)/launch/hauler_pose_update.launch"/>

  <!-- dead_reckoning launch file -->
  <include file="$(find rover_deadreckoning)/launch/excavator_dead_reckoning.launch"/>
  <include file="$(find rover_deadreckoning)/launch/hauler_dead_reckoning.launch"/>
  <!-- scout_driving_tools launch file -->
  <!-- <include file="$(find waypoint_nav)/launch/scout_waypoint_nav.launch"/> -->

  <!-- scout_waypoint_gen launch file -->
  <!-- <include file="$(find waypoint_gen)/launch/scout_waypoint_gen.launch"/> -->

  <!-- scout_waypoint_gen launch file -->
  <!-- <include file="$(find volatile_handler)/launch/volatile_handler.launch"/> -->




</launch>
