<launch>

  <!-- pcl_obstacle_avoidance launch file -->
  <include file="$(find pcl_obstacle_detection)/launch/excavator_pcl_obj_detection.launch"/>
  <include file="$(find pcl_obstacle_detection)/launch/hauler_pcl_obj_detection.launch"/>
  <include file="$(find pcl_obstacle_detection)/launch/excavator_pcl_homing.launch"/>
  <include file="$(find pcl_obstacle_detection)/launch/hauler_pcl_homing.launch"/>


  <!-- motion_control launch file -->
  <include file="$(find driving_control)/launch/excavator_driving_control.launch"/>
  <include file="$(find driving_control)/launch/hauler_driving_control.launch"/>

  <!-- dead_reckoning launch file -->
  <include file="$(find rover_deadreckoning)/launch/excavator_dead_reckoning.launch"/>
  <include file="$(find rover_deadreckoning)/launch/hauler_dead_reckoning.launch"/>

  <!-- excavator manipulator launch files -->
  <include file="$(find move_excavator)/launch/move_excavator.launch"/>

  <!-- vo_ launch file -->
  <include file="$(find wvu_vo_ros)/launch/vo_pipelineExcavator.launch"/>
  <include file="$(find wvu_vo_ros)/launch/vo_pipelineHauler.launch"/>

  <!-- sensor_fusion launch file -->
  <include file="$(find sensor_fusion)/launch/excavator_sensor_fusion.launch"/>
  <include file="$(find sensor_fusion)/launch/hauler_sensor_fusion.launch"/>

  <!-- driving_tools launch file -->
  <include file="$(find waypoint_nav)/launch/excavator_waypoint_nav.launch"/>
  <include file="$(find waypoint_nav)/launch/hauler_waypoint_nav.launch"/>

  <!-- volatile handler launch file -->
  <include file="$(find round2_volatile_handler)/launch/excavator_volatile_handler.launch"/>

  <!-- src2_object_detection launch file -->
  <include file="$(find src2_object_detection)/launch/excavator_object_detection.launch"/>
  <include file="$(find src2_object_detection)/launch/hauler_object_detection.launch"/>

  <!-- move_base launch files -->
  <include file="$(find src2_move_base)/launch/excavator_map_server.launch"/>
  <include file="$(find src2_move_base)/launch/excavator_move_base.launch"/>
  <include file="$(find src2_move_base)/launch/hauler_map_server.launch"/>
  <include file="$(find src2_move_base)/launch/hauler_move_base.launch"/>

  <!-- laser tools  -->
  <include file="$(find laser_tools_src2)/launch/excavator_laser_tools.launch"/>
  <include file="$(find laser_tools_src2)/launch/hauler_laser_tools.launch"/>

  <!-- homing service -->
  <include file="$(find range_to_base)/launch/excavator_homing_service.launch"/>
  <include file="$(find range_to_base)/launch/hauler_homing_service.launch"/>

  <!-- homing update service -->
  <include file="$(find sensor_fusion)/launch/excavator_homing.launch"/>
  <include file="$(find sensor_fusion)/launch/hauler_homing.launch"/>

  <!-- waypoint checker -->
  <include file="$(find waypoint_checker)/launch/excavator_waypoint_checker.launch"/>
  <include file="$(find waypoint_checker)/launch/hauler_waypoint_checker.launch"/>

  <!-- state machine for R2 -->
  <include file="$(find state_machine)/launch/exc_haul_state_machine_rd2.launch"/>

</launch>
