<launch>
  <group ns="small_scout_2">
    <param name="robot_name" value="small_scout_2" />
    <param name="robot_id" value="2" />

    <!-- static transform from odom to map-->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map small_scout_2_odom 100" />

    <!-- pcl_obstacle_avoidance launch file -->
    <include file="$(find pcl_obstacle_detection)/launch/pcl_homing.launch"/>

    <!-- object_detection launch file -->
    <include file="$(find src2_object_detection)/launch/object_detection_services.launch"/>

    <!-- motion_control launch file -->
    <include file="$(find motion_control)/launch/motion_control.launch"/>

    <!-- driving_tools launch file -->
    <include file="$(find driving_tools)/launch/driving_tools.launch"/>

    <!-- driving_control launch file -->
    <include file="$(find driving_control)/launch/scout_driving_control.launch"/>

    <!-- dead_reckoning launch file -->
    <include file="$(find rover_deadreckoning)/launch/dead_reckoning.launch"/>

    <!-- vo launch file -->
    <include file="$(find wvu_vo_ros)/launch/vo_pipeline.launch"/>

    <!-- sensor_fusion launch file -->
    <include file="$(find sensor_fusion)/launch/sensor_fusion.launch"/>

    <!-- scout_move_base launch files -->
    <include file="$(find src2_move_base)/launch/scout2_map_server.launch"/>
    <include file="$(find src2_move_base)/launch/scout2_move_base.launch"/>

    <!-- laser tools launch file -->
    <include file="$(find laser_tools_src2)/launch/scout2_laser_tools.launch"/>

    <!-- homing service -->
    <include file="$(find range_to_base)/launch/homing_service.launch"/>
    <include file="$(find sensor_fusion)/launch/homing.launch"/>

    <!-- ranging services -->
    <include file="$(find range_to_base)/launch/range_to_base_service.launch"/>

   <!-- approach services -->
    <include file="$(find src2_approach_services)/launch/approach_charging_station.launch"/>

    <!-- waypoint checker -->
    <include file="$(find waypoint_checker)/launch/waypoint_checker.launch"/>

    <!-- state machine for scout -->
    <include file="$(find state_machine)/launch/scout_state_machine.launch"/>
  </group>


  <!-- <include file="$(find mobility_checker)/launch/scout_mobility_checker.launch"/> -->

</launch>
