
<launch>


  <!-- pcl_obstacle_avoidance launch file -->
  <include file="$(find pcl_obstacle_detection)/launch/scout_pcl_obj_detection.launch"/>
  <include file="$(find pcl_obstacle_detection)/launch/scout_pcl_homing.launch"/>
  <!-- scout_motion_control launch file -->
  <include file="$(find driving_control)/launch/scout_driving_control.launch"/>

  <!-- dead_reckoning launch file -->
  <include file="$(find rover_deadreckoning)/launch/scout_dead_reckoning.launch"/>

  <!-- vo_ launch file -->
  <include file="$(find wvu_vo_ros)/launch/vo_pipelineScout.launch"/>

  <!-- sensor_fusion launch file -->
  <include file="$(find sensor_fusion)/launch/scout_sensor_fusion.launch"/>

  <!-- scout_driving_tools launch file -->
  <!-- <include file="$(find waypoint_nav)/launch/scout_waypoint_nav.launch"/> -->

  <!-- scout_waypoint_gen launch file -->
  <include file="$(find waypoint_gen)/launch/scout_waypoint_gen.launch"/>

  <!-- scout_volatile handler launch file -->

  <include file="$(find src2_object_detection)/launch/scout_object_detection.launch"/>

  <!-- scout_move_base launch files -->
  <include file="$(find src2_move_base)/launch/scout_map_server.launch"/>
  <include file="$(find src2_move_base)/launch/scout_move_base.launch"/>

  <!-- laser tools  -->
  <include file="$(find laser_tools_src2)/launch/scout_laser_tools.launch"/>

  <!-- homing service -->
  <include file="$(find range_to_base)/launch/scout_homing_service.launch"/>
  <include file="$(find sensor_fusion)/launch/scout_homing.launch"/>

  <!-- waypoint checker -->
  <include file="$(find waypoint_checker)/launch/scout_waypoint_checker.launch"/>

  <!-- <include file="$(find mobility_checker)/launch/scout_mobility_checker.launch"/> -->

  <!-- state machine for Scout -->
  <include file="$(find state_machine)/launch/scout_state_machine.launch"/>



</launch>
